.projectContainer {
    background-color: rgb(245, 239, 252);
}

.headline {
    background-color: rgb(250, 132, 132);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40%;
    padding-right: 5%;
}

.projectDetailsInfor {
    background-color: rgb(254, 184, 242);
    justify-items: center;
    /* padding-top: 2px; */
    /* border: dashed black; */
    border-radius: 40px;
    border: 3px dashed black;
    margin: 10px;
    padding: 8px;
    cursor: pointer;
    transition: .5s;
}

.projectDetailsInfor:hover {
    background-color: rgb(184, 254, 210);
}


.ads {
    background-color: rgb(136, 254, 155);
    max-width: 300px;
    justify-items: center;
    cursor: pointer;
    border: 2px dashed black;
    border-radius: 20px;
    transition: .5s;
}

.ads:hover {
    background-color: rgb(71, 75, 75);
    color: rgb(246, 251, 255);
}

img {
    margin-top: 10px;
    border: 2px solid rgb(26, 129, 255);
    border-radius: 10px;
}

.adsContainer {
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.searchInput {
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 28px;
    border: 2px solid grey;
    border-radius: 13px;
    padding-left: 10px;
    font-style: italic;
    font-size: large;
}

.filterSelect {
    margin-top: 2px;
    margin-left: 45%;
    margin-right: 25%;
    width: 13%;
    height: 28px;
    border: 2px solid grey;
    border-radius: 8px;
    padding-left: 10px;
    font-size: large;
}

.noAds {
    border: 2px dashed black;
    border-radius: 15px;
    max-width: 200px;
    height: 20px;
    padding-left: 65px;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(255, 194, 125);
    padding-top: 5px;
    padding-bottom: 7px;
    margin-left: 40%;
}