@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:wght@544&display=swap');

.container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(179, 247, 223);

    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    left: 0;
    width: 100%;
}

.header{
    display: flex;
    align-items: center;
    margin: 0.5%;
}

.logo{
    margin: 10px;
    margin-right:4%x;
    cursor: pointer;
}

.webName{
    color: rgb(30, 27, 27);
    font-family: "Sour Gummy", sans-serif;
    font-size: 130%;
    font-weight: bolder;
    cursor: pointer;
}

.listContainer{
    align-items: center;
    display: flex;
}
ul{
    list-style: none;
    display: flex; 
}

li{
    padding-right: 50px;
    font-size: large;
    color: rgb(62, 59, 59);
    cursor: pointer;
    transition: 0.5s;
}

li:hover{
    font-weight: bold;
    color: rgb(8, 55, 94);
    cursor: pointer;
}

.buttons{
    align-items: center;
    display: flex;
}

.buttonList{
    list-style: none;
    display: flex;
}

.buttonList button{
    margin-right: 15px;
}

button{
    width: 150px;
    height: 35px;
    font-size: large;
    font-weight: bold;
    border: 2px solid rgb(185, 189, 192);
    border-radius: 10px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    transition: 0.45s;
}

.signin:hover{
    background: rgb(2, 210, 229);
    color: rgb(255, 255, 255);
}

.signup:hover{
    background: rgb(186, 116, 248);
    color: rgb(255, 255, 255);
}
